:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html {
	overflow-x: hidden;
}

body {
	width: 100%;
	margin: 0;
	display: flex;
}

body #root {
	min-height: 90svh;
	width: 100%;
}
